@font-face {
    font-family: Passio;
    src: url('../public/Passio-Graphis.otf');
  }
  

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}


.story{
   font-family: Passio;
   font-size: 3em;
   font-style: oblique;
   text-align: center;
   margin-top: auto;
    color: chartreuse;
    position: absolute;
    width: 200vw;
    height: 200vh;
    background: rgba(0,0, 0,0);
    
}



